<link rel="stylesheet" href="~/css/index.css" />

<div class="wrapper">
    <div class="header">
        <div class="logo">
            <h2>partyfinder</h2>
        </div>
        <div class="navigation">
            <a href="">Browse Events</a>
            <a href="">Create Event</a>
            <a href="">Log in</a>
        </div>
    </div>
    <div class="slider-wrapper">
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </section>
    <section class="search-sec">
        <div class="container">
            <form action="#" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <label class="search-text">Loking for</label>
                                <input type="text" class="form-control search-slt" placeholder="Event">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <label class="search-text">In</label>
                                <input type="text" class="form-control search-slt" placeholder="Bellevue">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <button type="button" class="btn btn-danger wrn-btn search-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </div>
    <div class="content">
        <h1 class="content-title">Live your best life</h1>
        <div class="content-navigation">
            <div id="reportrange" class="content-calendar">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
            <div class="content-categories">
            <select role="listbox" id="dropdown-category-tag" data-reactid="300">
                <option selected="" disabled="" value="" data-spec="select-option" data-reactid="301">Any category</option>
                <option value="EventbriteCategory/118" data-spec="select-option" data-reactid="302">Auto, Boat &amp; Air</option>
                <option value="EventbriteCategory/101" data-spec="select-option" data-reactid="303">Business</option>
                <option value="EventbriteCategory/111" data-spec="select-option" data-reactid="304">Charity &amp; Causes</option>
                <option value="EventbriteCategory/113" data-spec="select-option" data-reactid="305">Community</option>
                <option value="EventbriteCategory/115" data-spec="select-option" data-reactid="306">Family &amp; Education</option>
                <option value="EventbriteCategory/106" data-spec="select-option" data-reactid="307">Fashion</option>
                <option value="EventbriteCategory/104" data-spec="select-option" data-reactid="308">Film &amp; Media</option>
                <option value="EventbriteCategory/110" data-spec="select-option" data-reactid="309">Food &amp; Drink</option>
                <option value="EventbriteCategory/112" data-spec="select-option" data-reactid="310">Government</option>
                <option value="EventbriteCategory/107" data-spec="select-option" data-reactid="311">Health</option>
                <option value="EventbriteCategory/119" data-spec="select-option" data-reactid="312">Hobbies</option>
                <option value="EventbriteCategory/116" data-spec="select-option" data-reactid="313">Holiday</option>
                <option value="EventbriteCategory/117" data-spec="select-option" data-reactid="314">Home &amp; Lifestyle</option>
                <option value="EventbriteCategory/103" data-spec="select-option" data-reactid="315">Music</option>
                <option value="EventbriteCategory/199" data-spec="select-option" data-reactid="316">Other</option>
                <option value="EventbriteCategory/105" data-spec="select-option" data-reactid="317">Performing &amp; Visual Arts</option>
                <option value="EventbriteCategory/120" data-spec="select-option" data-reactid="318">School Activities</option>
                <option value="EventbriteCategory/102" data-spec="select-option" data-reactid="319">Science &amp; Tech</option>
                <option value="EventbriteCategory/114" data-spec="select-option" data-reactid="320">Spirituality</option>
                <option value="EventbriteCategory/108" data-spec="select-option" data-reactid="321">Sports &amp; Fitness</option>
                <option value="EventbriteCategory/109" data-spec="select-option" data-reactid="322">Travel &amp; Outdoor</option>
            </select>
            </div>
        </div>
    </div>
</div>






