<div class="wrapper">
    <div class="header">
        <div class="logo">
            <h2>partyfinder</h2>
        </div>
        <div class="search-bar"></div>
        <div class="navigation">
            <a href="">Browse Events</a>
            <a href="">Create Event</a>
            <a href="">Log out</a>
        </div>
    </div>
    <div class="content">
        <div class="content-left">
            <h1>Tell us what you love</h1>
            <h3>Tap the event tags you would like to see more often than the others.</h3>
            <p>Step 1 of 2</p>
        </div>
        <div class="content-right">
            <div class="music">
                <div class="title">
                    <img src="" alt="music-logo">
                    <h2>Music</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Alternative">Alternative</label>
                        <input type="checkbox" id="Alternative">
                        <label for="Bluesandjazz">Blues & Jazz</label>
                        <input type="checkbox" id="Bluesandjazz">
                        <label for="Classical">Classical</label>
                        <input type="checkbox" id="Classical">
                        <label for="Country">Country</label>
                        <input type="checkbox" id="Country">
                        <label for="Cultural">Cultural</label>
                        <input type="checkbox" id="Cultural">
                        <label for="Edm_electronic">EDM / Electronic</label>
                        <input type="checkbox" id="Edm_electronic">
                        <label for="Folk">Folk</label>
                        <input type="checkbox" id="Folk">
                        <label for="Hiphopp_rap">Hip Hop / Rap</label>
                        <input type="checkbox" id="Hiphopp_rap">
                        <label for="Indie">Indie</label>
                        <input type="checkbox" id="Indie">
                        <label for="Latin">Latin</label>
                        <input type="checkbox" id="Latin">
                        <label for="Metal">Metal</label>
                        <input type="checkbox" id="Metal">
                        <label for="Opera">Opera</label>
                        <input type="checkbox" id="Opera">
                        <label for="Pop">Pop</label>
                        <input type="checkbox" id="Pop">
                        <label for="Randb">R & B</label>
                        <input type="checkbox" id="Randb">
                        <label for="Reggae">Reggae</label>
                        <input type="checkbox" id="Reggae">
                        <label for="Religious_spiritual">Religious / Spiritual</label>
                        <input type="checkbox" id="Religious_spiritual">
                        <label for="Rock">Rock</label>
                        <input type="checkbox" id="Rock">
                        <label for="Top40">Top 40</label>
                        <input type="checkbox" id="Top40">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="business">
                <div class="title">
                    <img src="" alt="business-logo">
                    <h2>Business</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Startupandsmallbusiness">Startups & Small Business</label>
                        <input type="checkbox" id="Startupandsmallbusiness">
                        <label for="Finance">Finance</label>
                        <input type="checkbox" id="Finance">
                        <label for="Environmentandsustainability">Environment & Sustainability</label>
                        <input type="checkbox" id="Environmentandsustainability">
                        <label for="Educators">Educators</label>
                        <input type="checkbox" id="Educators">
                        <label for="Realestate">Real Estate</label>
                        <input type="checkbox" id="Realestate">
                        <label for="Nonprofitandngos">Non Profit & NGOs</label>
                        <input type="checkbox" id="Nonprofitandngos">
                        <label for="Salesandmarketing">Sales & Marketing</label>
                        <input type="checkbox" id="Salesandmarketing">
                        <label for="Media">Media</label>
                        <input type="checkbox" id="Media">
                        <label for="Design">Design</label>
                        <input type="checkbox" id="Design">
                        <label for="Career">Career</label>
                        <input type="checkbox" id="Career">
                        <label for="Investment">Investment</label>
                        <input type="checkbox" id="Investment">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="food-and-drink">
                <div class="title">
                    <img src="" alt="food-and-drink-logo">
                    <h2>Food & Drink</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Beer">Beer</label>
                        <input type="checkbox" id="Beer">
                        <label for="Wine">Wine</label>
                        <input type="checkbox" id="Wine">
                        <label for="Food">Food</label>
                        <input type="checkbox" id="Food">
                        <label for="Spirits">Spirits</label>
                        <input type="checkbox" id="Spirits">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="community">
                <div class="title">
                    <img src="" alt="community-logo">
                    <h2>Community</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Province">Province</label>
                        <input type="checkbox" id="Province">
                        <label for="County">County</label>
                        <input type="checkbox" id="County">
                        <label for="City_town">City / town</label>
                        <input type="checkbox" id="City_town">
                        <label for="Lgbt">LGBT</label>
                        <input type="checkbox" id="Lgbt">
                        <label for="Medieval">Medieval</label>
                        <input type="checkbox" id="Medieval">
                        <label for="Renaissance">Renaissance</label>
                        <input type="checkbox" id="Renaissance">
                        <label for="Heritage">Heritage</label>
                        <input type="checkbox" id="Heritage">
                        <label for="Nationality">Nationality</label>
                        <input type="checkbox" id="Nationality">
                        <label for="Language">Language</label>
                        <input type="checkbox" id="Language">
                        <label for="Historic">Historic</label>
                        <input type="checkbox" id="Historic">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="arts">
                <div class="title">
                    <img src="" alt="arts-logo">
                    <h2>Arts</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Theater">Theater</label>
                        <input type="checkbox" id="Theater">
                        <label for="Musical">Musical</label>
                        <input type="checkbox" id="Musical">
                        <label for="Ballet">Ballet</label>
                        <input type="checkbox" id="Ballet">
                        <label for=" Dance">Dance</label>
                        <input type="checkbox" id="Dance">
                        <label for="Opera">Opera</label>
                        <input type="checkbox" id="Opera">
                        <label for="Orchestra">Orchestra</label>
                        <input type="checkbox" id="Orchestra">
                        <label for="Craft">Craft</label>
                        <input type="checkbox" id="Craft">
                        <label for="Fineart">Fine Art</label>
                        <input type="checkbox" id="Fineart">
                        <label for="Literaryart">Literary Arts</label>
                        <input type="checkbox" id="Literaryart">
                        <label for="Comedy">Comedy</label>
                        <input type="checkbox" id="Comedy">
                        <label for="Sculpture">Sculpture</label>
                        <input type="checkbox" id="Sculpture">
                        <label for="Painting">Painting</label>
                        <input type="checkbox" id="Painting">
                        <label for="Design">Design</label>
                        <input type="checkbox" id="Design">
                        <label for="Jewelry">Jewelry</label>
                        <input type="checkbox" id="Jewelry">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="film-and-media">
                <div class="title">
                    <img src="" alt="film-and-media-logo">
                    <h2>Film & Media</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Tv">TV</label>
                        <input type="checkbox" id="Tv">
                        <label for="Film">Film</label>
                        <input type="checkbox" id="Film">
                        <label for="Anime">Anime</label>
                        <input type="checkbox" id="Anime">
                        <label for="Gaming">Gaming</label>
                        <input type="checkbox" id="Gaming">
                        <label for="Comic">Comics</label>
                        <input type="checkbox" id="Comic">
                        <label for="Adult">Adult</label>
                        <input type="checkbox" id="Adult">
                        <label for="Comedy">Comedy</label>
                        <input type="checkbox" id="Comedy">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="sports-and-fitness">
                <div class="title">
                    <img src="" alt="sports-and-fitness-logo">
                    <h2>Sports & Fitness</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Running">Running</label>
                        <input type="checkbox" id="Running">
                        <label for="Walking">Walking</label>
                        <input type="checkbox" id="Walking">
                        <label for="Cycling">Cycling</label>
                        <input type="checkbox" id="Cycling">
                        <label for="Mountainbiking">Mountain Biking</label>
                        <input type="checkbox" id="Mountainbiking">
                        <label for="Obstacle">Obstacles</label>
                        <input type="checkbox" id="Obstacle">
                        <label for="Basketball">Basketball</label>
                        <input type="checkbox" id="Basketball">
                        <label for="Football">Football</label>
                        <input type="checkbox" id="Football">
                        <label for="Baseball">Baseball</label>
                        <input type="checkbox" id="Baseball">
                        <label for="Soccer">Soccer</label>
                        <input type="checkbox" id="Soccer">
                        <label for="Golf">Golf</label>
                        <input type="checkbox" id="Golf">
                        <label for="Volleyball">Volleyball</label>
                        <input type="checkbox" id="Volleyball">
                        <label for="Tennis">Tennis</label>
                        <input type="checkbox" id="Tennis">
                        <label for="Swimmingandwatersport">Swimming & Water Sport</label>
                        <input type="checkbox" id="Swimmingandwatersport">
                        <label for="Hockey">Hockey</label>
                        <input type="checkbox" id="Hockey">
                        <label for="Motorsport">Motorsports</label>
                        <input type="checkbox" id="Motorsport">
                        <label for="Fightingandmartialart">Fighting & Martial Arts</label>
                        <input type="checkbox" id="Fightingandmartialart">
                        <label for="Snowsport">Snow Sport</label>
                        <input type="checkbox" id="Snowsport">
                        <label for="Rugby">Rugby</label>
                        <input type="checkbox" id="Rugby">
                        <label for="Yoga">Yoga</label>
                        <input type="checkbox" id="Yoga">
                        <label for="Exercise">Exercise</label>
                        <input type="checkbox" id="Exercise">
                        <label for="Softball">Softball</label>
                        <input type="checkbox" id="Softball">
                        <label for="Wrestling">Wrestling</label>
                        <input type="checkbox" id="Wrestling">
                        <label for="Lacrosse">Lacrosse</label>
                        <input type="checkbox" id="Lacrosse">
                        <label for="Cheer">Cheer</label>
                        <input type="checkbox" id="Cheer">
                        <label for="Camp">Camp</label>
                        <input type="checkbox" id="Camp">
                        <label for="Weightlifting">Weightlifting</label>
                        <input type="checkbox" id="Weightlifting">
                        <label for="Trackandfield">Track & Field</label>
                        <input type="checkbox" id="Trackandfield">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="health">
                <div class="title">
                    <img src="" alt="health-logo">
                    <h2>Health</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Personalhealth">Personal health</label>
                        <input type="checkbox" id="Personalhealth">
                        <label for="Mentalhealth">Mental health</label>
                        <input type="checkbox" id="Mentalhealth">
                        <label for="Medical">Medical</label>
                        <input type="checkbox" id="Medical">
                        <label for="Spa">Spa</label>
                        <input type="checkbox" id="Spa">
                        <label for="Yoga">Yoga</label>
                        <input type="checkbox" id="Yoga">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="science-and-tech">
                <div class="title">
                    <img src="" alt="science-and-tech-logo">
                    <h2>Science & Tech</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Medicine">Medicine</label>
                        <input type="checkbox" id="Medicine">
                        <label for="Science">Science</label>
                        <input type="checkbox" id="Science">
                        <label for="Biotech">Biotech</label>
                        <input type="checkbox" id="Biotech">
                        <label for="Hightech">High Tech</label>
                        <input type="checkbox" id="Hightech">
                        <label for="Mobile">Mobile</label>
                        <input type="checkbox" id="Mobile">
                        <label for="Socialmedia">Social Media</label>
                        <input type="checkbox" id="Socialmedia">
                        <label for="Robotic">Robotics</label>
                        <input type="checkbox" id="Robotic">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="travel-and-outdoor">
                <div class="title">
                    <img src="" alt="travel-and-outdoor-logo">
                    <h2>Travel & Outdoor</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Hiking">Hiking</label>
                        <input type="checkbox" id="Hiking">
                        <label for="Rafting">Rafting</label>
                        <input type="checkbox" id="Rafting">
                        <label for="Kayaking">Kayaking</label>
                        <input type="checkbox" id="Kayaking">
                        <label for="Conoeing">Conoeing</label>
                        <input type="checkbox" id="Conoeing">
                        <label for="Climbing">Climbing</label>
                        <input type="checkbox" id="Climbing">
                        <label for="Travel">Travel</label>
                        <input type="checkbox" id="Travel">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="charity-and-causes">
                <div class="title">
                    <img src="" alt="charity-and-causes-logo">
                    <h2>Charity & Causes</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Animalwelfare">Animal Welfare</label>
                        <input type="checkbox" id="Animalwelfare">
                        <label for="Environment">Environment</label>
                        <input type="checkbox" id="Environment">
                        <label for="Healthcare">Healthcare</label>
                        <input type="checkbox" id="Healthcare">
                        <label for="Humanright">Human Right</label>
                        <input type="checkbox" id="Humanright">
                        <label for="Internationalaid">International Aid</label>
                        <input type="checkbox" id="Internationalaid">
                        <label for="Poverty">Poverty</label>
                        <input type="checkbox" id="Poverty">
                        <label for="Dissasterrelief">Dissaster Relief</label>
                        <input type="checkbox" id="Dissasterrelief">
                        <label for="Education">Education</label>
                        <input type="checkbox" id="Education">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="spirituaity">
                <div class="title">
                    <img src="" alt="spirituaity-logo">
                    <h2>Spirituaity</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Christianity">Christianity</label>
                        <input type="checkbox" id="Christianity">
                        <label for="Judaism">Judaism</label>
                        <input type="checkbox" id="Judaism">
                        <label for="Islam">Islam</label>
                        <input type="checkbox" id="Islam">
                        <label for="Mormonism">Mormonism</label>
                        <input type="checkbox" id="Mormonism">
                        <label for="Buddism">Buddism</label>
                        <input type="checkbox" id="Buddism">
                        <label for="Sikhism">Sikhism</label>
                        <input type="checkbox" id="Sikhism">
                        <label for="Easternreligion">Eastern Religion</label>
                        <input type="checkbox" id="Easternreligion">
                        <label for="Mysticismandoccult">Mysticism & Occult</label>
                        <input type="checkbox" id="Mysticismandoccult">
                        <label for="Newage">New Age</label>
                        <input type="checkbox" id="Newage">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="family-and-education">
                <div class="title">
                    <img src="" alt="family-and-education-logo">
                    <h2>Family & Education</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Education">Education</label>
                        <input type="checkbox" id="Education">
                        <label for="Alumni">Alumni</label>
                        <input type="checkbox" id="Alumni">
                        <label for="Parenting">Parenting</label>
                        <input type="checkbox" id="Parenting">
                        <label for="Baby">Baby</label>
                        <input type="checkbox" id="Baby">
                        <label for="Childrenandyouth">Children & Youth</label>
                        <input type="checkbox" id="Childrenandyouth">
                        <label for="Parentsassociation">Parents Association</label>
                        <input type="checkbox" id="Parentsassociation">
                        <label for="Reunion">Reunion</label>
                        <input type="checkbox" id="Reunion">
                        <label for="Seniorcitizen">Senior Citizen</label>
                        <input type="checkbox" id="Seniorcitizen">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="holiday">
                <div class="title">
                    <img src="" alt="holiday-logo">
                    <h2>Holiday</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Stpatricksday">St Patricks Day</label>
                        <input type="checkbox" id="Stpatricksday">
                        <label for="Easter">Easter</label>
                        <input type="checkbox" id="Easter">
                        <label for="Independenceday">Independence Day</label>
                        <input type="checkbox" id="Independenceday">
                        <label for="Halloween_haunt">Halloween / Haunt</label>
                        <input type="checkbox" id="Halloween_haunt">
                        <label for="Thanksgiving">Thanksgiving</label>
                        <input type="checkbox" id="Thanksgiving">
                        <label for="Christmas">Christmas</label>
                        <input type="checkbox" id="Christmas">
                        <label for="Channukah">Channukah</label>
                        <input type="checkbox" id="Channukah">
                        <label for="Fallevent">Fall Events</label>
                        <input type="checkbox" id="Fallevent">
                        <label for="Newyearseve">New Years Eve</label>
                        <input type="checkbox" id="Newyearseve">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="government">
                <div class="title">
                    <img src="" alt="government-logo">
                    <h2>Government</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Republicanparty">Republican Party</label>
                        <input type="checkbox" id="Republicanparty">
                        <label for="Democraticparty">Democratic Party</label>
                        <input type="checkbox" id="Democraticparty">
                        <label for="Otherparty">Other Party</label>
                        <input type="checkbox" id="Otherparty">
                        <label for="Nonpartisan">Non-partisan</label>
                        <input type="checkbox" id="Nonpartisan">
                        <label for="Federalgovernment">Federal Government</label>
                        <input type="checkbox" id="Federalgovernment">
                        <label for="Stategovernment">State Government</label>
                        <input type="checkbox" id="Stategovernment">
                        <label for="County_municipalgovernment">County / Municipal Government</label>
                        <input type="checkbox" id="County_municipalgovernment">
                        <label for="Military">Military</label>
                        <input type="checkbox" id="Military">
                        <label for="Internationalaffair">International Affair</label>
                        <input type="checkbox" id="Internationalaffair">
                        <label for="Nationalsecurity">National Security</label>
                        <input type="checkbox" id="Nationalsecurity">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="fashion">
                <div class="title">
                    <img src="" alt="fashion-logo">
                    <h2>Fashion</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Fashions">Fashions</label>
                        <input type="checkbox" id="Fashions">
                        <label for="Accessories">Accessories</label>
                        <input type="checkbox" id="Accessories">
                        <label for="Bridal">Bridal</label>
                        <input type="checkbox" id="Bridal">
                        <label for="Beauty">Beauty</label>
                        <input type="checkbox" id="Beauty">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="home-and-lifestyle">
                <div class="title">
                    <img src="" alt="home-and-lifestyle-logo">
                    <h2>Home & Lifestyle</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Dating">Dating</label>
                        <input type="checkbox" id="Dating">
                        <label for="Petsandanimal">Pets & Animal</label>
                        <input type="checkbox" id="Petsandanimal">
                        <label for="Homeandgarden">Home & Garden</label>
                        <input type="checkbox" id="Homeandgarden">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="auto-boat-and-air">
                <div class="title">
                    <img src="" alt="auto-boat-and-air-logo">
                    <h2>Auto, Boat & Air</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Auto">Auto</label>
                        <input type="checkbox" id="Auto">
                        <label for="Motorcycle_atv">Motorcycle / ATV</label>
                        <input type="checkbox" id="Motorcycle_atv">
                        <label for="Boat">Boat</label>
                        <input type="checkbox" id="Boat">
                        <label for="Air">Air</label>
                        <input type="checkbox" id="Air">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="hobbies">
                <div class="title">
                    <img src="" alt="hobbies-logo">
                    <h2>Hobbies</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Anime_Comic">Anime & Comics</label>
                        <input type="checkbox" id="Anime_Comic">
                        <label for="Gaming">Gaming</label>
                        <input type="checkbox" id="Gaming">
                        <label for="Diy">DIY</label>
                        <input type="checkbox" id="Diy">
                        <label for="Photography">Photography</label>
                        <input type="checkbox" id="Photography">
                        <label for="Knitting">Knitting</label>
                        <input type="checkbox" id="Knitting">
                        <label for="Books">Books</label>
                        <input type="checkbox" id="Books">
                        <label for="Adult">Adult</label>
                        <input type="checkbox" id="Adult">
                        <label for="Drawingandpainting">Drawing & Painting</label>
                        <input type="checkbox" id="Drawingandpainting">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
            <div class="school-activities">
                <div class="title">
                    <img src="" alt="school-activities-logo">
                    <h2>School Activities</h2>
                </div>
                <div class="interest">
                    <form>
                        <label for="Dinner">Dinner</label>
                        <input type="checkbox" id="Auto">
                        <label for="Fundraiser">Fund Raiser</label>
                        <input type="checkbox" id="Fundraiser">
                        <label for="Raffle">Raffle</label>
                        <input type="checkbox" id="Raffle">
                        <label for="Afterschoolcare">After School Care</label>
                        <input type="checkbox" id="Afterschoolcare">
                        <label for="Parking">Parking</label>
                        <input type="checkbox" id="Parking">
                        <label for="Pablicspeaker">Pablic Speaker</label>
                        <input type="checkbox" id="Pablicspeaker">
                        <label for="Other">Other</label>
                        <input type="checkbox" id="Other">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button>Exit</button>
        <button type="submit">Next</button>
    </div>
</div>